/* CSS Document */
html {
	font-size: 100%;


 /* IE fix */
	height: 100%; 

/* forces scrollbar and sticky footer */
	margin-bottom: 1px; 

/* forces scrollbar */
	margin-left: 5px;
	margin-right: 5px;
	}
	
	body {
	font-family: ariel, sans-serif;
	background-color: #ffffff;  
font-size: 80%;
	color: #333333;
	
 float: center
	}


	
	#col1, #col2, #col3 {
	height: 100%; /* sticky footer for all pages except home */
	}
	

	


/* HEADER */
	#header {
 text-align: center	}

	
	

/* LINKS */
	a:link {
 color: #3366cc
	}

	a:visited {
	color: #6699cc
	}



/* TAGS */
	h1 {
	font-size: 2em;
	padding-top: 10px; 
text-align: center	}

	h2 {
	font-size: 1.5em;
	padding-top: 10px;
text-align: center

	}
	
	h3 {
	font-size: 1.25em;
	padding-top: 10px;
	text-align: center	}

	
h4 {
	font-size: 1em;
	padding-top: 15px;
	text-transform: uppercase;
text-align: center;
color:#333333	}



h5 { 
	font-size: .90em; 
	text-align: left; 
	margin-right: 5%;
	margin-left: 5%;
	border: double;
	padding: 5px;
	color: #3366cc  
}






/* HOME PAGE ADDRESS/LOGO  GK added 8/7/07 */	
    #homeaddress {
 text-align: center;
	width: 100%	}
