/* CSS Document */
/* PRINT */
	#header a img {
	display: block;
	}
	#navigation, #mainnav, #breadcrumbs {
	display: none;
	}

	body {
	background-color: #FFFFFF;
	color: #000000;
	font-family:"Times New Roman", Times, serif;
	font-size: 62.5%;
	}

	/* LINKS */
	a:link {
	color: #0000FF;
	}

	a:visited {
	color: #0000FF;
	}

	.menu a:link, h4 a:link {
	color: #0000FF;
	text-decoration: underline;
	}

	.menu a:visited, h4 a:visited {
	color: #0000FF
	text-decoration: underline;
	}

	.menu a:hover, h4 a:hover {
	color: #0000FF
	text-decoration: underline;
	}

	#wrapper {
	font-size: 12px;
	text-align: left;
	background-color: #FFFFFF;
	padding: 0px;
	width: 100%;
	border: none;
	}
	#home #wrapper {
	width: 100%;
	margin: 0 auto;
	}

	#col3 #wrapper { /*Seth's change: #col2 #wrapper (then delete below) */
	width: 100%;
	margin: 0 auto;
	}

	#col2 #wrapper, #col1 #wrapper {
	width: 100%;
	margin: 0 auto;
	}


/* GLOBAL */
	html {
	font-size: 100%; /* IE fix */
	height: 100%;
	margin-bottom: 1px;
	}

/* TAGS */
	h1 {
	font-size: 2em;
	padding-top: 10px;
	}

	h2 {
	font-size: 1.5em;
	padding-top: 10px;
	}

	h3 {
	font-size: 1.25em;
	padding-top: 10px;
	}

	h4 {
	font-size: 1em;
	padding-top: 15px;
	text-transform: uppercase;
	}

	input, select, th, td {
	font-size: 1em;
	}

	#mainnav #search {
	font-size:1em;
	}

	p {
	padding-top: 0.5em;
	}
	/* deprecated?
	dt {
	font-weight: 900;
	}
	dd {
	padding: 1em;
	} */



/* LISTS */
	#sidebar ul, #homesidebar ul, #contentA ul, #contentB ul, #secondnav ul, #secondsidebar ul, #secondsidebar ul {
	list-style: none;
	text-indent: -1em;
	padding-left: 1em;
	}

	#mainnav ul {
	list-style: none;
	}

	#content ul, #contentA ul, #contentB ul, #wrapper ul {
	padding-left: 20px;
	}

	ol {
	padding-left: 2em;
	}

	ol ol {
	list-style-type:lower-alpha;
	}
/* CLASSES */
	.viewall {
	font-size: 0.8em;
	padding-left: 10px;
	}

	.maintitle {
	border-bottom: 1px #E0D6CC solid;
	padding-top: 10px;
	}

	.breadcrumbs {
	padding: 10px 0 0 15px;
	font-size: 1em;
	}

	.description {
	font-size: 0.9em;
	text-align: justify;
	}

	.external, .pdf {
	background: url(../images/external.jpg) no-repeat right top;
	padding-right: 10px;
	}


	.active {
	background-color: #FFFFFF;
	}

	.bold {
	font-weight: 900;
	}

	.footnote {
	font-size: 0.8em;
	border: 1px solid #ccc;
	margin-top: 10px;
	padding: 0 10px 10px 10px;
	}

	.sectiontitle {
	clear: left;
	}

	.clear {
	clear: both;
	}

	.pullquote {
	color: #A08060;
	float: right;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 2.5em;
	line-height: 0.8em;
	text-align: right;
	}

	.highlight {
	/*background-color: #EBE6DC;*/
	margin-left: 4em;
	width: 30em;
	border: 1px solid #EBE6DC;
	}

	.blockquote {
	margin-left: 4em;
	margin-right: 4em;
	font-size: 0.9em;
	text-align: justify;
	}

	.box {
	background-color: #FFFFF0;
	border: 1px solid #E8E1BF;
	padding: 5px;
	}

	.next {
	float: right;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	}

	.back {
	float: left;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	}
	.italic {
	font-style: italic;
	}
/* IMAGES */
	.floatRight {
	float: right;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	}

	.floatLeft {
	float: left;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	}

	.floatRight p, .floatLeft p {
	font-size: 0.9em;
	padding-top: 0px;
	}

/* TABLES */
	td, th {
		vertical-align: top;
	}

	#hours th {
	width: 10em;
	background-color: #e0d6cc;
	vertical-align: top;
	}

	#hours td {
	border: 1px solid #e0d6cc;
	vertical-align: top;
	}

	.format th {
	background-color: #e0d6cc;
	vertical-align: top;
	}

	.format td {
	border: 1px solid #e0d6cc;
	vertical-align: top;
	}
/* HEADER */
	#header {
	text-align: left;
	}

	#headerindex {
	padding-top: 10px;
	}


/* CONTENT */


	#content {
	background-color: #FFFFFF;

	}

	#description {
	clear: left;
	}

	#description ul {
	font-size: 0.9em;
	}
/* FOOTER */
	#footer {
	text-align: center;
	font-size: 0.8em;
	clear: both;
	}

