.notes {
    left: 80px;
}

img {
    max-width: 200px;
}

p, .references, .time {
    font-family: "medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.003em;
    color: rgba(0,0,0,0.8);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

div .time {
    font-size: 21px;
    font-weight: 500;
    font-style: italic;
    margin-top: 65px;

    }

div.row.headers {
        margin-top: 20px;
    margin-bottom: 10px;}

div p {
    margin-bottom: 20px;
}

.notes {
    font-size: 21px;
}

.references {
    font-style: italic;
}

li {
    margin-bottom: 5px;
}

div h3 {
    font-family:  "Open sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: rgba(0,0,0,0.8);
    margin-top: 65px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

div h1 {
    font-family: "Open sans";
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: rgba(0,0,0,0.8);
    margin-top: 65px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}