/* CSS Document */
/* Some code adapted from CSS Mastery: Advanced Web Standards Solutions, by Andy Budd, 2006 */

/* GLOBAL */
	* {
	margin: 0;
	padding: 0;
	}

/* SIDEBARS */
  	#col3 #sidebar {
    width: 16em;
    max-width: 35%;
    float: left;
  	}

/* HOME */
	#quicknav {
	float: left;
	width: 15em;
	max-width: 21%;
	}

	#address {
	float: left;
	width: 40em;
	max-width: 55%;
	}

	#search {
	float: right;
	width: 15em;
	max-width: 21%;
	padding-left: 10px;
	}
	#menuA {
	clear: both;
	float: left;
	width: 24em;
	max-width: 33%;
	}

	#menuB {
	float: left;
	width: 24em;
	max-width: 33%;
	}
	#menuC {
	float: right;
	width: 24em;
	max-width: 33%;
	}
	#picture {
	clear: left;
	float: left;
	width: 20em;
	max-width: 25%;
	}
	#about {
	float: rightt;
	width: 20em;
	max-width: 25%;
	}

	#fexhibit {
	float: left;
	width: 20em;
	max-width: 25%;
	}

    #video {
	float: left;
	width: 20em;
	max-width: 25%;
	}
/* WRAPPER */
	#home #wrapper {
	width: 72em;
	max-width: 100%;
	margin: 0 auto;
	}

	#col3 #wrapper, #col2 #wrapper, #col1 #wrapper {
	width: 56em;
	max-width: 100%;
	margin: 0 auto;
	}

/* CONTENT */

	#col3 #content {
    width: 43em;
    max-width: 65%;
    float: right;
    }
	#home #content {
	width: 52em;
	max-width: 74%;
	float: right;
	}

	#contentA {
	width: 24em;
	max-width: 48%;
	float: left;
	clear: left;
	}

	#contentB {
	width: 24em;
	max-width: 48%;
	float: right;
	clear: right;
	}

/* FOOTER */
	#footer {
	clear: both;
	}
